/* Cancel the hollow circles that Halfmoon does */
li {
    list-style: disc inside;
}

.dsp-item, .dsp-itemstack, .pointer {
    cursor: pointer;
}

.item-thumbnail {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: sub;
    display: inline;
}